/* s=common */

/* color */
.clr-default{ color: #444; }
.clr-primary{ color: #FFBF00; }
.clr-white{ color: #fff; }

.bg-clr-white{ background-color:#fff; }

/* font */
.font-24{  font-size:24px; }

/* layout */
.mt-70{margin-top:70px;}
.mt-25{margin-top:25px;}
.mt-35{margin-top:35px;}
.mt-10{margin-top:10px;}
.mr-25{margin-right:25px;}
.mb-35{margin-bottom:35px;}
.ml-10{margin-left:10px;}

.pt-25{padding-top:25px;}
.pl-10{padding-left:10px;}

.relative{ position:relative; }

/* e=common */

body{
	background:#FFBF00;
	font:16px/1.5  'Microsoft YaHei','微软雅黑',Tahoma, Arial;
}

header{  
 /*margin-top:-500px;
 position:absolute;
 left:0;
 z-index:102;
 */
}



.header-bottom{
	width:100%;
	height:40px;
	line-height:40px;
	padding-right:10px;
	border-top:1px solid #ebebeb;
}

.header-bottom a{
	color:#c5c5c5;
}

.card{
	width:100%;
	background:#fff;
	padding:0 26px 40px;
}

.menu-more{
	cursor:pointer;
}


section{ padding-bottom:85px; }

footer{
	background:#fff;
	width:100%;
	height:60px;
	line-height:60px;
	text-align:center;
	position:fixed;
	z-index:100;
	bottom:0;
	left:0;
}

footer a{ font-size:30px; color:#444; }
footer a.cur{ font-weight:bold; color:#FFBF00; }

.wrap-box{
	width:100%;
	height:100%;
	background:#ccc;
	position: absolute;
	z-index:101;
	left:0;
	top:0;
}

.logo-big{
	margin:0 auto;
}

.gallery img{  margin:0 auto;}

.about{
	cursor:pointer;
	width:60px;
	height:30px;
	line-height:30px;
	text-align:center;
	background:#F2B600;
	color:#fff;
	font-size:14px;
}


